@model starWars54.Models.Jedi
@{
    ViewBag.Title = "JediDetails";
}

<h2>JediDetails</h2>

@Model.Name<table>
          
    <tr><td>@Model.Bio</td> </tr>
    <tr><td>@Model.Pic</td> </tr>
    <tr><td>@Model.SaberColor</td></tr>
    <tr><td>@Model.Rank</td></tr>
    <tr><td>@Model.Affiliation</td></tr>
</table>

